@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Quicksand&display=swap');
* {
	box-sizing: border-box;
}
body {
	padding: 0px;
	margin: 0px;
	background: #121212;
	color: white;
	overflow-x: hidden;
}
nav {
	border-bottom: 1px solid rgb(39, 39, 39);
	display: flex;
	justify-content: center;
	height: 70px;
}
nav > header {
	width: 80%;
	display: flex;
	align-items: center;
}
header > #title {
	font-family: "MuseoModerno";
	font-size: 20px;
    text-align: center;
}
header > .nav-buttons {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.nav-buttons > button {
	transition: .2s ease;
	background: transparent;
	border: 1px solid rgb(39, 39, 39);
	border-radius: 5px;
	height: 35px;
	margin: 0px 5px;
	aspect-ratio: 1;
	color: rgb(130, 130, 130);
	padding: 7px;
	cursor: pointer;
}
.nav-buttons > button:hover {
	transition: .2s ease;
	scale: 1.2;
	border: 1px solid rgb(69, 69, 69);
}
.menu {
	transition: .3s ease;
	height: 100vh;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	background: rgba(23, 23, 23, 1);
	display: flex;
	transform: translateX(200px);
	flex-direction: column;
}
.menu > header, .menu > p {
	height: max-content;
	width: 100%;
	text-align: center;
}
#menu-header {
	font-family: "MuseoModerno";
}
#menu-close {
	transition: .3s ease;
	position: absolute;
	top: 14px;
	right: 14px;
	height: 30px;
	aspect-ratio: 1;
	font-size: 20px;
	background: transparent;
	border: none;
	color: rgb(120, 120, 120);
	cursor: pointer;
}
#menu-close:hover {
	transition: .3s ease;
	color: white;
}
.menu > button, .menu > header {
	border-bottom: 1px solid rgb(39, 39, 39);
}
.menu > button {
	transition: .3s ease;
	height: 40px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgb(39, 39, 39);
	color: rgb(150, 150, 150);
	font-family: "Quicksand";
	cursor: pointer;
}
.menu > button:hover {
	transition: .3s ease;
	background: rgba(150, 150, 150, .08);
	color: white;
}
.partial {
	border: none;
	border-bottom: 1px solid rgb(39, 39, 39);
	height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.full {
	border: none;
	border-bottom: 1px solid rgb(39, 39, 39);
	height: 100vh;
}
#intro-text {
	font-family: "Quicksand";
	font-size: 40px;
	margin: 0px;
}
#intro-text > #logo {
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
	font-weight: bold;
	font-family: "MuseoModerno";
}
#intro-sub {
	font-family: "Quicksand";
	color: rgb(150, 150, 150);
	margin: 0;
}
.underline {
	text-decoration: underline;
}
.bracket {
	color: rgb(120, 120, 120);
}
.box-header {
	font-family: "MuseoModerno";
	margin: 15px;
	font-size: 30px;
}
.box-sub {
    text-align: center;
	font-family: "Quicksand";
}
.head-admin {
	font-weight: bold;
	color: rgb(70, 70, 200);
}
.head-admin:hover::after {
    content: "Head Admin"
}
.owner {
	font-weight: bold;
	color: rgb(200, 200, 70);
}
.owner:hover::after {
    content: "Owner";
}
.jr-mod {
	font-weight: bold;
	color: rgb(70, 200, 150);
}
.jr-mod:hover::after {
    content: "Jr. Moderator";
}
.co-owner {
	font-weight: bold;
	color: rgb(200, 150, 70);
}
.co-owner:hover::after {
    content: "Co-Owner";
}
.role:hover::after {
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translate(10px, -15%);
    position: inline-block;
    position: absolute;
    background: #232323;
}
.role:hover {
    cursor: default;
}
.tall {
	height: max-content;
	padding: 15px;
	border: none;
	border-bottom: 1px solid rgb(39, 39, 39);
    font-family: "Quicksand";
}
#red {
    color: rgb(200, 70, 70);
    font-weight: bold;
}